* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

.main-container {
    height: 100vh;
    display: flex;
}

.sidebar {
    display: flex;
    align-items: center;
    flex: 1;
    background: url(https://images.unsplash.com/photo-1602422054298-3ad8d4f62739?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80) no-repeat center;
    background-size: cover;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 20%;
    color: white;
    font-size: 6rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.signup {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.header,
.signup-form,
.login {
    flex: 1;
    padding: 3rem;
    border: 1px solid red;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #f1f3f1;
}

.header h2 {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.header p {
    font-weight: bold;
    font-size: 1.6rem;
}

label {
    display: block;
    text-transform: uppercase;
    margin: 10px 0;
}

input {
    appearance: none;
    width: 80%;
    height: 45%;
}

form > [class*="personal"] {
    display: flex;
    gap: 2rem;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #666;
}