* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    height: 100vh;
    display: flex;
}

.sidebar {
    display: flex;
    align-items: center;
    flex: 1;
    background: url(https://images.unsplash.com/photo-1602422054298-3ad8d4f62739?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80) no-repeat center;
    background-size: cover;
    position: relative;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 20%;
    color: white;
    font-size: 6rem;
    background-color: black;
    opacity: .6;
}

.signup {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.header,
.signup-form,
.login {
    flex: 1;
}