* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme: #000;
    overflow: hidden;
}

@font-face {
    font-family: Glitchy;
    src: url("/fonts/Anurati-Regular.otf");
}

@font-face {
    font-family: Tech;
    src: url("/fonts/Marske.otf");
}

@font-face {
    font-family: Prototype;
    src: url("/fonts/Prototype.ttf");
}

.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

/* Sidebar and banner */

.sidebar {
    display: flex;
    align-items: center;
    flex: 1;
    background: url("/images/night-city.png") no-repeat center;
    background-size: cover;
    position: relative;
}

.sidebar::after {
    content: "Cyperpunk 2077 Night City © CD Projekt Red";
    color: white;
    font-size: 0.8rem;
    font-family: Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    opacity: 0.4;
    position: absolute;
    bottom: 0;
    background-color: rgba(102, 102, 102, 0.2);
    width: 100%;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
}

.sidebar .banner p {
    color: white;
    font-size: 3rem;
    font-family: Glitchy, Helvetica, sans-serif;
}

/* Right side of page */

.signup {
    display: flex;
    flex-direction: column;
    flex: 2;
    font-family: Tech, Helvetica, sans-serif;
    color: white;
}

.header,
.signup-form,
.login {
    flex: 1;
    padding: 2.5rem;
    letter-spacing: 3px;
}

/* Top header section */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--theme);
    gap: 1rem;
}

.header h2 {
    font-size: 3rem;
}

.header p {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bold;
}

.header p:last-child {
    color: var(--theme);
}

/* Middle form section */

.signup-form {
    position: relative;
    color: var(--theme);
    background-color: #fdf800;
    box-shadow: 1px 1px 8px 1px #fbf665;
}

.signup-form p {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    font-size: 12px;
    font-weight: bold;
}

form > [class^="personal"] {
    display: flex;
}

[class*="personal"] > div {
    display: flex;
    flex-wrap: wrap;
    width: min(400px, 80%);
    margin-right: 50px;
}

label {
    width: 100%;
    margin-bottom: 10px; 
}

input {
    appearance: none;
    outline: none;
    height: 32px;
    width: 100%;
    color: white;
    font-size: 1rem;
    font-family: Prototype, Helvetica, sans-serif;
    border-radius: 5px;
    border-style: none;
    padding: 8px;
    margin-bottom: 20px;
    background-color: var(--theme);
    transition: box-shadow 0.2s ease-in-out;
}

span {
    position: relative;
    height: 40px;
}

input + span::after {
    font-family: "Material Icons";
    content: "check_circle_outline";
    font-size: 18px;
    top: 15%;
    left: 8px;
    position: absolute;
    opacity: 0;
}

input:not(:focus):not(:placeholder-shown):valid + span::after {
    opacity: 1;
    color: #0A7029;
    transition: opacity 0.5s ease-in-out;
}

input:not(:focus):not(:placeholder-shown):invalid + span::after {
    font-family: "Material Icons";
    content: "highlight_off";
    color: #DC143C;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

input:focus {
    border: 2px solid #04d9ff;
    box-shadow: 3px 2px 8px 0px #6a7e6a;
}

#password-constraints {
    font-size: 10px;
    line-height: 1.5;
}

/* Bottom create/login section */

.login {
    background-color: var(--theme);
}

button {
    width: 200px;
    height: 50px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 8px;
    border-style: none;
    font-family: Tech, Helvetica, sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 4px;
    background-color: #FF2A6D;
    box-shadow: 2px 2px 8px 1px #FF2A6D;
}

label:hover,
button:hover {
    cursor: pointer;
}

.login p {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: #FF2A6D;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #b3093e;
}